<div class="container text-centre">
<h1>About page</h1>
<p>We are Devmatch. Our company focuses on creating an exclusive community
for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Officiis maiores placeat ipsum eveniet, dolores molestias quae pariatur voluptatibus aut.
Mollitia sint sunt quasi est dicta, neque asperiores alias velit aliquam!. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Facilis explicabo neque atque ut expedita rem est at veniam, saepe consequuntur, soluta,
optio minima ex sint ullam eos omnis? Alias, deleniti! </p>
</div>